<launch>
    <!-- <arg name = "map_file" default="/home/user/catkin_ws/src/group_project/src/maps/project_map.yaml />
    <node name="map_server" pkg = "map_server" type = "map_server" args = "map_file" /> -->
    
    <!--Launch the move base-->
    <include file= "/home/user/catkin_ws/src/group_project/src/launch/task1.launch"/>
    <!--Launch the mapping package-->
    <include file= "/home/user/catkin_ws/src/group_project/src/launch/task2.launch"/>
    <!--Launch the search and rescue simulation-->
    <include file= "/home/user/simulation_ws/src/search_and_rescue/launch/search_and_rescue.launch"/>
    <!--Launch Rviz-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d /home/user/catkin_ws/src/group_project/project.rviz" />
</launch>